.product-list {
    border: 1px solid $second-color;
    background: #ffffff;
    color: #495057;
    padding: 0.75rem 0rem!important;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 30rem;
    overflow-y: auto;
    overflow-y: auto;
    height: 25rem;
    &__item {
        padding: 0.75rem 1.25rem;
        margin: 0;
        border: 0 none;
        color: #495057;
        background: transparent;
        transition: box-shadow 0.2s;
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
        &_active {
            color: $main-color;
            background: #f7e7cd;
            &:hover {
                background-color: #f7e7cd;
            }
        }
    }
    &__img {
        width: 7rem;
        height: 5rem;
        box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
        margin-right: 1rem;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__detail {
        flex: 1 1 0;
    }
    &__title {
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
    }
    &__price {
        font-weight: 700;
        font-size: 1.5rem;
    }
}