.search {
    position: relative;
    margin-bottom: 1rem;
    width: 50%;
    &__label {
        position: absolute;
        left: 13px;
        color: #343a40;
        font-size: 1.4rem;
        font-weight: 300;
        transform: translateY(-35px);
        transition: all 0.2s ease;
    }
    
    &__input {
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        display: block;
        width: 100%;
        padding: 0 1rem;
        line-height: 50px;
        background: none;
        border-width: 0;
        border-bottom: 2px solid $main-color;
        transition: all 0.2s ease;
    }
    &__input:focus {
        outline: 0;
        border-color: #d2952b;
    }
    &__input:focus+label, &:valid+label {
        transform: translateY(-60px);
        margin-left: -14px;
        font-size: 0.8rem;
        font-weight: 400;
        outline: 0;
        border-color: #d2952b;
        color: #d2952b;
    }
}